html {
  scroll-behavior: smooth;
}

ul {
  width:100%;
  background:red;
  height:30px;
  text-align:center;
}

li {
  display:inline-block;
  font-size: 20px;
  margin-right:40px;
}

.game__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-6 {
  width: 40%;
  flex-basis: 40%;
  display: inline-block;
  border: 1px solid;
  background: green;
  padding: 20px;
  height: 20;
}

.col-12 {
  width: 100%;
  flex-basis: 40%;
}

.destination {
  height: 300px;
  font-size: 40px;
  text-align: center;
  border: 2px solid red;
}
